# python3.10.*
fastapi
uvicorn
python-multipart
opencv-python
numpy==1.23.5
scikit-image==0.19.3
onnxruntime
manga-ocr
Pillow
pydantic
pydantic-settings
aiofiles
python-dotenv
pyinstaller
lama-cleaner
setuptools-rust
torch
torchvision
tokenizers
huggingface_hub==0.19.4
diffusers==0.24.0